form {
  margin-top: 100px;
}

.welcome {
  font-size: 30px;
}

#submit-btn {
  border-radius: 50px;
}

#pwhelp a{
  color: black;
}

#create a{
  color: black;
}

#invalid-forgot {
  margin-left: 0px;
  margin-right: 0px;
}

#invalidpw {
  color: rgb(214, 0, 0);
}