<div class="container d-flex justify-content-center">
  <form class="col-md-5" (ngSubmit)="onSubmit($event)">
    <label class="welcome">Create a new account</label>

    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="firstName"
        name="firstName"
      />
      <ng-template [ngIf]="!firstNameValid" [ngIfElse]="default">
        <small id="warning" class="form-text"
          >First name cannot be empty.</small
        >
      </ng-template>

      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="lastName"
        name="lastName"
      />
      <ng-template [ngIf]="!lastNameValid" [ngIfElse]="default">
        <small id="warning" class="form-text">Last name cannot be empty.</small>
      </ng-template>

      <label>Organization</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="organization"
        name="organization"
      /><br />

      <label>Email address</label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        [(ngModel)]="email"
        name="email"
      />
      <ng-template [ngIf]="!emailValid" [ngIfElse]="default">
        <small id="warning" class="form-text">{{ emailWarning }}</small>
      </ng-template>

      <label>Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="password1"
        name="password"
      />
      <div class="row" id="warning">
        <ng-template [ngIf]="!pwLengthValid" [ngIfElse]="default">
          <small id="warning" class="form-text"
            >Password must be at least 6 characters long.</small
          >
        </ng-template>
      </div>

      <label>Confirm Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="password2"
        name="password2"
      />
      <div class="row" id="warning">
        <ng-template [ngIf]="!pwMatch" [ngIfElse]="default">
          <small id="warning" class="form-text">Passwords do not match.</small>
        </ng-template>
      </div>
    </div>
    <button type="submit" class="btn btn-primary col-md-12" id="submit-btn">
      Create account
    </button>
  </form>
</div>

<ng-template #default><br /></ng-template>
