form {
    margin-top: 20px;
  }
  
  .welcome {
    font-size: 30px;
  }
  
  #submit-btn {
    border-radius: 50px;
  }
  
  #pwhelp a{
    color: black;
  }
  
  #create a{
    color: black;
  }
  
  #warning{
    margin-left: 0px;
    margin-right: 0px;
    color: rgb(214, 0, 0);
  }
